In [ ]:
number = 10
print("number is of type" , type(number))

number is of type <class 'int'>

In [ ]:
floatong_number = 10.3
print("floatong_number is of type" , type(floatong_number))

floatong_number is of type <class 'float'>

In [ ]:
word = "Data DaVinci"
print("word is of type", type(word))

word is of type <class 'str'>

In [ ]:
boolean = False
print("boolean is of type", type(boolean))

boolean is of type <class 'bool'>

In [ ]:
empty = None
print("empty is of type", type(empty))

empty is of type <class 'NoneType'>

In [ ]:
variable = 20
print("variable is of type", type(variable))

variable is of type <class 'int'>

In [ ]:
variable = "20"
print("variable is of type", type(variable))

variable is of type <class 'str'>

In [ ]:
a = 10
b = 3
print(f"Subtraction   {a} - {b} = {a-b}")
print(f"Adiition      {a} + {b} = {a+b}")
print(f"Multiplication {a}*{b}= {a*b}")
print(f"Division      {a}/{b} = {a/b:.2f}")
print(f"Floor division {a}//{b}= {a//b}")
print(f"Remainder  {a} % {b} = {a%b}")
print(f"exponentiation {a}**{b} = {a**b}")

Subtraction   10 - 3 = 7
Adiition      10 + 3 = 13
Multiplication 10*3= 30
Division      10/3 = 3.33
Floor division 10//3= 3
Remainder  10 % 3 = 1
exponentiation 10**3 = 1000

In [ ]:
a = 10
b = 3
print(f"10 greater than 3      {a>b}")
print(f"10 less than 3 and 10 gives a remainder of 1 with  3        {a<b and a%b==1}")

10 greater than 3      True
10 less than 3 and 10 gives a remainder of 1 with  3        False

In [ ]:
if 10<3:
  print("This is impossible")
else:
  print("Everything is normal")

for i in range(10):
  print(f"In while loop iteration number {i+1}")

a=0
while(a<5):
  print(f"In while loop iteration number {a+1}")
  a = a+1

Everything is normal
In while loop iteration number 1
In while loop iteration number 2
In while loop iteration number 3
In while loop iteration number 4
In while loop iteration number 5
In while loop iteration number 6
In while loop iteration number 7
In while loop iteration number 8
In while loop iteration number 9
In while loop iteration number 10
In while loop iteration number 1
In while loop iteration number 2
In while loop iteration number 3
In while loop iteration number 4
In while loop iteration number 5

In [ ]:
fruits = ["apple", "orange", "banana", "grape", "cherry", "mango", "pineapple", 10, "kiwi"]
print("First element:", fruits[0])
print("Last element using positive index:", fruits[7])
print("Last element using negative index:", fruits[-1])

First element: apple
Last element using positive index: 10
Last element using negative index: kiwi

In [ ]:
fruits.append("watermelon")
print("\nList after appending an item:", fruits)

List after appending an item: ['apple', 'orange', 'banana', 'grape', 'cherry', 'mango', 'pineapple', 10, 'kiwi', 'watermelon']

In [ ]:
print("\nSlicing examples:")
print("First 2 elements:", fruits[:2])
print("Elements from index 4 to the end:", fruits[4:])
print("Every second element starting from index 1:", fruits[1::2])
print("Last element as a slice:", fruits[-1:])

Slicing examples:
First 2 elements: ['apple', 'orange']
Elements from index 4 to the end: ['cherry', 'mango', 'pineapple', 10, 'kiwi', 'watermelon']
Every second element starting from index 1: ['orange', 'grape', 'mango', 10, 'watermelon']
Last element as a slice: ['watermelon']

In [ ]:
fruits[1] = "blueberry"
print("\nList after modifying the second element:", fruits)

List after modifying the second element: ['apple', 'blueberry', 'banana', 'grape', 'cherry', 'mango', 'pineapple', 10, 'kiwi', 'watermelon']

In [ ]:
fruits.remove("cherry")
print("\nList after removing 'cherry':", fruits)

List after removing 'cherry': ['apple', 'blueberry', 'banana', 'grape', 'mango', 'pineapple', 10, 'kiwi', 'watermelon']

In [ ]:
del fruits[0]
print("List after deleting the first element:", fruits)

List after deleting the first element: ['blueberry', 'banana', 'grape', 'mango', 'pineapple', 10, 'kiwi', 'watermelon']

In [ ]:
last_fruit = fruits.pop()
print("Popped item:", last_fruit)
print("List after popping the last element:", fruits)

Popped item: watermelon
List after popping the last element: ['blueberry', 'banana', 'grape', 'mango', 'pineapple', 10, 'kiwi']

In [ ]:
fruits.remove(10)
fruits.sort()
print("\nList after sorting:", fruits)

List after sorting: ['banana', 'blueberry', 'grape', 'kiwi', 'mango', 'pineapple']

In [ ]:
fruits.reverse()
print("List after reversing:", fruits)

List after reversing: ['pineapple', 'mango', 'kiwi', 'grape', 'blueberry', 'banana']

In [ ]:
print("\nLength of the list:", len(fruits))

Length of the list: 6

In [ ]:
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York",
    "profession": "Engineer",
    "hobbies": ["reading", "cycling", "painting"],
    "is_student": False,
    "height": 5.6,
    "skills": {"Python": "Intermediate", "Java": "Beginner"}
}

In [ ]:
print("Name:", person["name"])
print("Age:", person["age"])
print("First hobby:", person["hobbies"][0])
print("Python skill level:", person["skills"]["Python"])

Name: Alice
Age: 25
First hobby: reading
Python skill level: Intermediate

In [ ]:
person["married"] = False
print("\nDictionary after adding 'married':", person)

Dictionary after adding 'married': {'name': 'Alice', 'age': 25, 'city': 'New York', 'profession': 'Engineer', 'hobbies': ['reading', 'cycling', 'painting'], 'is_student': False, 'height': 5.6, 'skills': {'Python': 'Intermediate', 'Java': 'Beginner'}, 'married': False}

In [ ]:
person["city"] = "Los Angeles"
print("\nDictionary after updating 'city':", person)

Dictionary after updating 'city': {'name': 'Alice', 'age': 25, 'city': 'Los Angeles', 'profession': 'Engineer', 'hobbies': ['reading', 'cycling', 'painting'], 'is_student': False, 'height': 5.6, 'skills': {'Python': 'Intermediate', 'Java': 'Beginner'}, 'married': False}

In [ ]:
person["hobbies"].append("hiking")
print("\nDictionary after adding a new hobby:", person)

Dictionary after adding a new hobby: {'name': 'Alice', 'age': 25, 'city': 'Los Angeles', 'profession': 'Engineer', 'hobbies': ['reading', 'cycling', 'painting', 'hiking'], 'is_student': False, 'height': 5.6, 'skills': {'Python': 'Intermediate', 'Java': 'Beginner'}, 'married': False}

In [ ]:
del person["is_student"]
print("\nDictionary after removing 'is_student':", person)

Dictionary after removing 'is_student': {'name': 'Alice', 'age': 25, 'city': 'Los Angeles', 'profession': 'Engineer', 'hobbies': ['reading', 'cycling', 'painting', 'hiking'], 'height': 5.6, 'skills': {'Python': 'Intermediate', 'Java': 'Beginner'}, 'married': False}

In [ ]:
removed_value = person.pop("height")
print("Popped value:", removed_value)
print("Dictionary after popping 'height':", person)

Popped value: 5.6
Dictionary after popping 'height': {'name': 'Alice', 'age': 25, 'city': 'Los Angeles', 'profession': 'Engineer', 'hobbies': ['reading', 'cycling', 'painting', 'hiking'], 'skills': {'Python': 'Intermediate', 'Java': 'Beginner'}, 'married': False}

In [ ]:
print("\nKeys in the dictionary:", list(person.keys()))
print("Values in the dictionary:", list(person.values()))
print("Items in the dictionary:", list(person.items()))

Keys in the dictionary: ['name', 'age', 'city', 'profession', 'hobbies', 'skills', 'married']
Values in the dictionary: ['Alice', 25, 'Los Angeles', 'Engineer', ['reading', 'cycling', 'painting', 'hiking'], {'Python': 'Intermediate', 'Java': 'Beginner'}, False]
Items in the dictionary: [('name', 'Alice'), ('age', 25), ('city', 'Los Angeles'), ('profession', 'Engineer'), ('hobbies', ['reading', 'cycling', 'painting', 'hiking']), ('skills', {'Python': 'Intermediate', 'Java': 'Beginner'}), ('married', False)]

In [ ]:
print("\nUsing `get` to access 'profession':", person.get("profession"))
print("Using `get` to access 'salary':", person.get("salary", "Not Available"))

Using `get` to access 'profession': Engineer
Using `get` to access 'salary': Not Available

In [ ]:
print("\nIterating through the dictionary:")
for key, value in person.items():
    print(f"{key}: {value}")

Iterating through the dictionary:
name: Alice
age: 25
city: Los Angeles
profession: Engineer
hobbies: ['reading', 'cycling', 'painting', 'hiking']
skills: {'Python': 'Intermediate', 'Java': 'Beginner'}
married: False

In [ ]:
additional_info = {"salary": 70000, "department": "R&D"}
person.update(additional_info)
print("\nDictionary after merging additional info:", person)

Dictionary after merging additional info: {'name': 'Alice', 'age': 25, 'city': 'Los Angeles', 'profession': 'Engineer', 'hobbies': ['reading', 'cycling', 'painting', 'hiking'], 'skills': {'Python': 'Intermediate', 'Java': 'Beginner'}, 'married': False, 'salary': 70000, 'department': 'R&D'}

In [ ]:
person.clear()
print("\nDictionary after clearing all items:", person)

Dictionary after clearing all items: {}

In [ ]:
fruits = ("apple", "banana", "cherry", "orange", "grape", "mango", "pineapple", "kiwi")

In [ ]:
print("First element:", fruits[0])
print("Last element using positive index:", fruits[7])
print("Last element using negative index:", fruits[-1])

First element: apple
Last element using positive index: kiwi
Last element using negative index: kiwi

In [ ]:
print("\nSlicing examples:")
print("First 2 elements:", fruits[:2])
print("Elements from index 2 to the end:", fruits[2:])
print("Every second element starting from index 1:", fruits[1::2])
print("Reverse the tuple:", fruits[::-1])

Slicing examples:
First 2 elements: ('apple', 'banana')
Elements from index 2 to the end: ('cherry', 'orange', 'grape', 'mango', 'pineapple', 'kiwi')
Every second element starting from index 1: ('banana', 'orange', 'mango', 'kiwi')
Reverse the tuple: ('kiwi', 'pineapple', 'mango', 'grape', 'orange', 'cherry', 'banana', 'apple')

In [ ]:
print("\nChecking membership:")
print("Is 'apple' in the tuple?", "apple" in fruits)
print("Is 'pear' in the tuple?", "pear" in fruits)

Checking membership:
Is 'apple' in the tuple? True
Is 'pear' in the tuple? False

In [ ]:
print("\nLength of the tuple:", len(fruits))

Length of the tuple: 8

In [ ]:
print("\nUnpacking the tuple:")
first, second, third, *remaining = fruits  # Unpacking with * to handle excess items
print("First:", first)
print("Second:", second)
print("Third:", third)
print("Remaining:", remaining)

Unpacking the tuple:
First: apple
Second: banana
Third: cherry
Remaining: ['orange', 'grape', 'mango', 'pineapple', 'kiwi']

In [ ]:
nested_tuple = (("Alice", 25), ("Bob", 30), ("Charlie", 35))
print("\nAccessing a nested tuple:")
print("First nested element:", nested_tuple[0])
print("Name of the first person:", nested_tuple[0][0])

Accessing a nested tuple:
First nested element: ('Alice', 25)
Name of the first person: Alice

In [ ]:
print("\nConverting tuples and lists:")
fruits_list = list(fruits)
fruits_list.append("watermelon")
print("List after adding an item:", fruits_list)

Converting tuples and lists:
List after adding an item: ['apple', 'banana', 'cherry', 'orange', 'grape', 'mango', 'pineapple', 'kiwi', 'watermelon']

In [ ]:
fruits_tuple = tuple(fruits_list)
print("Tuple after converting back from list:", fruits_tuple)

Tuple after converting back from list: ('apple', 'banana', 'cherry', 'orange', 'grape', 'mango', 'pineapple', 'kiwi', 'watermelon')

In [ ]:
print("\nCounting and finding elements:")
print("Count of 'apple':", fruits.count("apple"))
print("Index of 'cherry':", fruits.index("cherry"))

Counting and finding elements:
Count of 'apple': 1
Index of 'cherry': 2

In [ ]:
print("\nIterating through the tuple:")
for fruit in fruits:
    print(fruit)

Iterating through the tuple:
apple
banana
cherry
orange
grape
mango
pineapple
kiwi

In [ ]:
print("\nTuple concatenation and repetition:")
new_tuple = fruits + ("pear", "plum")
print("Concatenated tuple:", new_tuple)

Tuple concatenation and repetition:
Concatenated tuple: ('apple', 'banana', 'cherry', 'orange', 'grape', 'mango', 'pineapple', 'kiwi', 'pear', 'plum')

In [ ]:
repeated_tuple = fruits * 2
print("Repeated tuple:", repeated_tuple)

Repeated tuple: ('apple', 'banana', 'cherry', 'orange', 'grape', 'mango', 'pineapple', 'kiwi', 'apple', 'banana', 'cherry', 'orange', 'grape', 'mango', 'pineapple', 'kiwi')

###Assignments

In [ ]:
def print_spiral_order(matrix):
  #if not matrix:
 #     return []

  result = []
  top, bottom = 0, len(matrix) - 1
  left, right = 0, len(matrix[0]) - 1

  while top <= bottom and left <= right:
        # left to right
        for j in range(left, right + 1):
            result.append(matrix[top][j])
        top += 1

        # top to bottom
        for i in range(top, bottom + 1):
            result.append(matrix[i][right])
        right -= 1

        if top <= bottom:
            # right to left
            for j in range(right, left - 1, -1):
                result.append(matrix[bottom][j])
            bottom -= 1

        if left <= right:
            # bottom to top
            for i in range(bottom, top - 1, -1):
                result.append(matrix[i][left])
            left += 1

  return result

In [ ]:
matrix1 = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Test case 2: 4x4 Matrix
matrix2 = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
]

# Test case 3: 5x5 Matrix
matrix3 = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15],
    [16, 17, 18, 19, 20],
    [21, 22, 23, 24, 25]
]

# Output results for each test case
print("Test Case 1 Output:", print_spiral_order(matrix1))
print("Test Case 2 Output:", print_spiral_order(matrix2))
print("Test Case 3 Output:", print_spiral_order(matrix3))


print(''' \nTest Case 1 Expected Output: [1, 2, 3, 6, 9, 8, 7, 4, 5]
Test Case 2 Expected Output: [1, 2, 3, 4, 8, 12, 16, 15, 14, 13, 9, 5, 6, 7, 11, 10]
Test Case 3 Expected Output: [1, 2, 3, 4, 5, 10, 15, 20, 25, 24, 23, 22, 21, 16, 11, 6, 7, 8, 9, 14, 19, 18, 17, 12, 13]
''')

Test Case 1 Output: [1, 2, 3, 6, 9, 8, 7, 4, 5]
Test Case 2 Output: [1, 2, 3, 4, 8, 12, 16, 15, 14, 13, 9, 5, 6, 7, 11, 10]
Test Case 3 Output: [1, 2, 3, 4, 5, 10, 15, 20, 25, 24, 23, 22, 21, 16, 11, 6, 7, 8, 9, 14, 19, 18, 17, 12, 13]

Test Case 1 Expected Output: [1, 2, 3, 6, 9, 8, 7, 4, 5]
Test Case 2 Expected Output: [1, 2, 3, 4, 8, 12, 16, 15, 14, 13, 9, 5, 6, 7, 11, 10]
Test Case 3 Expected Output: [1, 2, 3, 4, 5, 10, 15, 20, 25, 24, 23, 22, 21, 16, 11, 6, 7, 8, 9, 14, 19, 18, 17, 12, 13]

In [ ]:
import numpy as np
m = np.random.randint(low=5, high=11)
n = np.random.randint(low=5, high=11)
arr = np.random.randint(low=0, high=20, size=(m, n))
for i in range(m):
    for j in range(n):
        print(f"{arr[i][j]:<5}", end="")
    print("")

print([int(x) for x in print_spiral_order(arr)])

16   10   3    8    9    16
4    18   12   17   7    5
9    9    19   11   4    7
13   12   7    11   11   18
17   9    10   11   1    13
[16, 10, 3, 8, 9, 16, 5, 7, 18, 13, 1, 11, 10, 9, 17, 13, 9, 4, 18, 12, 17, 7, 4, 11, 11, 7, 12, 9, 19, 11]

In [ ]:
def count_word_frequency(sentence):
  word_count = {}
  for word in sentence.split():
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1
  return len(word_count)

In [ ]:

testcases = [
    "Hello world Hello",
    "Python is fun and Python is easy",
    "One fish two fish red fish blue fish",
    "This is a test. This test is simple.",
    "Repeat repeat Repeat",
    "",
    "Spaces       between      words"
]

for i, test in enumerate(testcases):
    print(f"Test Case {i + 1}:")
    print(f"Input: {test}")
    print("Output:", count_word_frequency(test))
    print("-" * 30)

Test Case 1:
Input: Hello world Hello
Output: 2
------------------------------
Test Case 2:
Input: Python is fun and Python is easy
Output: 5
------------------------------
Test Case 3:
Input: One fish two fish red fish blue fish
Output: 5
------------------------------
Test Case 4:
Input: This is a test. This test is simple.
Output: 6
------------------------------
Test Case 5:
Input: Repeat repeat Repeat
Output: 2
------------------------------
Test Case 6:
Input:
Output: 0
------------------------------
Test Case 7:
Input: Spaces       between      words
Output: 3
------------------------------

In [ ]:
def is_palindrome_iterative(s):

  return s == s[::-1]

In [ ]:
def is_palindrome_recursive(s):

  if len(s) <= 1:
    return True
  if s[0] != s[-1]:
    return False
  return is_palindrome_recursive(s[1:-1])

In [ ]:
test_cases = [
    ("radar", True),
    ("boommoob", True),
    ("world", False),
    ("a", True),
    ("", True),
    ("RadAr", False),
]

for i, (input_str, expected) in enumerate(test_cases):
    print(f"Test Case {i + 1}: Input = '{input_str}'")
    result_iterative = is_palindrome_iterative(input_str)
    result_recursive = is_palindrome_recursive(input_str)
    print(f"  Iterative Output: {result_iterative}")
    print(f"  Recursive Output: {result_recursive}")
    print(f"  Expected Output: {expected}")
    print(f"  Iterative Pass: {result_iterative == expected}")
    print(f"  Recursive Pass: {result_recursive == expected}")
    print("-" * 30)

Test Case 1: Input = 'radar'
  Iterative Output: True
  Recursive Output: True
  Expected Output: True
  Iterative Pass: True
  Recursive Pass: True
------------------------------
Test Case 2: Input = 'boommoob'
  Iterative Output: True
  Recursive Output: True
  Expected Output: True
  Iterative Pass: True
  Recursive Pass: True
------------------------------
Test Case 3: Input = 'world'
  Iterative Output: False
  Recursive Output: False
  Expected Output: False
  Iterative Pass: True
  Recursive Pass: True
------------------------------
Test Case 4: Input = 'a'
  Iterative Output: True
  Recursive Output: True
  Expected Output: True
  Iterative Pass: True
  Recursive Pass: True
------------------------------
Test Case 5: Input = ''
  Iterative Output: True
  Recursive Output: True
  Expected Output: True
  Iterative Pass: True
  Recursive Pass: True
------------------------------
Test Case 6: Input = 'RadAr'
  Iterative Output: False
  Recursive Output: False
  Expected Output: False
  Iterative Pass: True
  Recursive Pass: True
------------------------------

In [ ]:
def is_prime(n):
    if n <= 1:
        return False

    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False

    return True

In [ ]:
test_cases = [
    (2, True),        # Smallest prime number
    (3, True),        # Small prime number
    (4, False),       # First composite number
    (17, True),       # Prime number
    (19, True),       # Prime number
    (20, False),      # Composite number
    (1, False),       # Not a prime number
    (0, False),       # Not a prime number
    (-5, False),      # Negative numbers are not prime
    (97, True)        # Large prime number
]

# Iterate through test cases
for i, (input_num, expected) in enumerate(test_cases):
    print(f"Test Case {i + 1}: Input = {input_num}")
    result = is_prime(input_num)
    print(f"  Output: {result}")
    print(f"  Expected Output: {expected}")
    print(f"  Pass: {result == expected}")
    print("-" * 30)

Test Case 1: Input = 2
  Output: True
  Expected Output: True
  Pass: True
------------------------------
Test Case 2: Input = 3
  Output: True
  Expected Output: True
  Pass: True
------------------------------
Test Case 3: Input = 4
  Output: False
  Expected Output: False
  Pass: True
------------------------------
Test Case 4: Input = 17
  Output: True
  Expected Output: True
  Pass: True
------------------------------
Test Case 5: Input = 19
  Output: True
  Expected Output: True
  Pass: True
------------------------------
Test Case 6: Input = 20
  Output: False
  Expected Output: False
  Pass: True
------------------------------
Test Case 7: Input = 1
  Output: False
  Expected Output: False
  Pass: True
------------------------------
Test Case 8: Input = 0
  Output: False
  Expected Output: False
  Pass: True
------------------------------
Test Case 9: Input = -5
  Output: False
  Expected Output: False
  Pass: True
------------------------------
Test Case 10: Input = 97
  Output: True
  Expected Output: True
  Pass: True
------------------------------